  html, body {
    width:100%;
    height:100%; 
    font-family: sans-serif;
  }
  
  #controls {
  background-color: transparent;
  color: white;
  padding: 0;
  cursor: move;
  }
  
  #inputs {
  /* Appearance */
  color: #C70039; 
  background-color: #fbd2e4;
  padding: 0px;
  opacity: 0.75;
  zoom: 0.9;
  transition: opacity 500ms 0.3s;
  margin-bottom: 120px;
  }
  
  #inputs:hover {
  /* Fade in while hovering */
    opacity: 0.95;
  transition-delay: 0;
  }