     <div class="toprow">
      <div class="container">
        <div class="row">
          <div class="nav">
            <div class="u-full-width">
              <h2>Sean A. Fischer</h2>
            </div>
            <div class="row">
              <div class="u-full-width">
                <h5>Computational Social Scientist</h5>
              </div>
              <div class="row">
                <h5>
                	<div class="u-full-width">
                  		<nav>
                    		<a href="http://seanfischer.me/#About" class="w3-bar-item w3-button">About</a>
                    		<a href="http://seanfischer.me/#Research" class="w3-bar-item w3-button">Research</a>
                    		<a href="http://seanfischer.me/#Blog" class="w3-bar-item w3-button">Blog</a>
                    		<a href="http://seanfischer.me/#Contact" class="w3-bar-item w3-button">Contact</a>
                  		</nav>
                	</div>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>